<div class ="fixture list">
  <h2>Fixtures</h2>
 <%= link_to("Add new fixture", {:action =>'new'}, :class => 'action new') %>
  <table class="list" align="">
    <tr class="header">
       <th>ID</th>
       <th>Opposition</th>
       <th>Date</th>
       <th>Team</th>
       <th>players</th>
       <th>Venue</th>
       <th>Actions</th>
    </tr>
    <% @fixture.each do |fixture| %>
    <tr>
      <td><%=fixture.id %></td>
      <td><%=fixture.opposition %></td>
      <td><%=fixture.date %></td>
      <td><%=fixture.team_id %></td>
      <td><%=(fixture.players("first_name").map! &:first_name).join(", ")%>

      </td>
      <td><%=fixture.venue_id %></td>



      <td>
            <%= link_to("Show", {:action =>'show', :id => fixture.id}, :class=>'action show') %>
            <%= link_to("Edit",{:action =>'edit', :id => fixture.id}, :class=>'action edit') %>
            <%= link_to("Delete",{:action =>'delete', :id => fixture.id}, :class=>'action delete') %>
      </td>

    </tr>
    <% end %>
  </table>
</div>